<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>LostFound</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Lost</display-name>
    <servlet-name>Lost</servlet-name>
    <servlet-class>Lost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lost</servlet-name>
    <url-pattern>/Lost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Found</display-name>
    <servlet-name>Found</servlet-name>
    <servlet-class>Found</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Found</servlet-name>
    <url-pattern>/Found</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Access</display-name>
    <servlet-name>Access</servlet-name>
    <servlet-class>Access</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Access</servlet-name>
    <url-pattern>/Access</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Claim</display-name>
    <servlet-name>Claim</servlet-name>
    <servlet-class>Claim</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Claim</servlet-name>
    <url-pattern>/Claim</url-pattern>
  </servlet-mapping>
</web-app>